evaluation/xsd2shex/complexType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/po.xsd" xmlns="http://tempuri.org/po.xsd" elementFormDefault="qualified"> 
  
  <xs:complexType name="USAddress"> 
    <xs:all> 
      <xs:element name="name" type="xs:string"/> 
      <xs:element name="street" type="xs:string"/> 
      <xs:element name="city" type="xs:string"/> 
      <xs:element name="state" type="xs:string"/> 
      <xs:element name="zip" type="xs:integer"/> 
    </xs:all> 
    <xs:attribute name="country" type="xs:NMTOKEN" fixed="US"/> 
  </xs:complexType>

</xs:schema>