test.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/po.xsd" xmlns="http://tempuri.org/po.xsd" elementFormDefault="qualified"> 
  

<xs:element name="student">
  <xs:complexType>
    <xs:all>
      <xs:element name="ID" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Sport" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:element>

</xs:schema>