comparison/attributeGroup.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="USAddress">
    <xsd:sequence>
      <xsd:element name="name"   type="xsd:string"/>
      <xsd:element name="street" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="IdentifierGroup"/>
  </xsd:complexType>

  <xsd:attributeGroup name="IdentifierGroup">
    <xsd:attribute name="country" type="xsd:NMTOKEN" fixed="US"/>
    <xsd:attribute name="orderDate" type="xsd:date"/>
  </xsd:attributeGroup>
</xsd:schema>