comparison/attributes2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="USAddress">
    <xsd:all>
      <xsd:element name="name"   type="xsd:string"/>
      <xsd:element name="street" type="xsd:string"/>
    </xsd:all>
    <xsd:attribute name="country" type="xsd:NMTOKEN" use="optional"/>
  </xsd:complexType>

</xsd:schema>