comparison/complexType_simpleContent.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="address" type="USAddress"/>
  <xsd:complexType name="USAddress">
    <xsd:simpleContent>
      <xsd:extension base="xs:string">
        <xsd:attribute name="country" type="xsd:NMTOKEN" fixed="US"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>