comparison/extension.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="address" type="USAddress"/>
  <xsd:complexType name="USAddress">
    <xsd:simpleContent>
      <xsd:extension base="zip">
        <xsd:attribute name="country" type="xsd:NMTOKEN" fixed="US"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<xsd:simpleType name="zip">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="001" />
    <xsd:enumeration value="002" />
    <xsd:enumeration value="003" />
  </xsd:restriction>
</xsd:simpleType>

</xsd:schema>