comparison/group.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


  <xsd:complexType name="USAddress">
    <xsd:sequence>
      <xsd:group ref="DescriptionGroup"/>
      <xsd:element name="state"  type="xsd:string"/>
      <xsd:element name="zip"    type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:group name="DescriptionGroup">
    <xsd:sequence>
      <xsd:element name="name"   type="xsd:string"/>
      <xsd:element name="street" type="xsd:string"/>
      <xsd:element name="city"   type="xsd:string"/>
    </xsd:sequence>
  </xsd:group>

</xsd:schema>